<!DOCTYPE html>
<html data-ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Extended Select plugin</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../dist/css/angular-extended-select.css"/>
	<style type="text/css">
		.page-header {
			margin-top: 20px;
		}
		code-example {
			display: block;
			margin-top: 10px;
		}
		code-example > p {
			margin: 0;
		}
		code-example > code {
			display: block;
		}
		a[ng-click] { cursor: pointer; }
	</style>
</head>
<body>
<div class="container" data-ng-controller="exampleCtrl">
	<h4 class="page-header">Basic example</h4>
	Selected value: {{word}}
	<div class="row">
		<div class="col-sm-6 form-group">
			<label>Without extended-select</label>
			<select class="form-control" ng-model="word" ng-options="o as o.word for o in options"
					code-example-hook></select>
		</div>
		<div class="col-sm-6 form-group">
			<label>With extended-select</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in options"
							 code-example-hook></extended-select>
		</div>
	</div>
	<h4 class="page-header">Multiple select</h4>
	Selected value: {{multiple}}
	<div class="row">
		<div class="col-sm-6 form-group">
			<label>Without extended-select</label>
			<select class="form-control" ng-model="multiple" ng-options="o as o.word for o in options" multiple>
			</select>
		</div>
		<div class="col-sm-6 form-group">
			<label>With extended-select</label>
			<extended-select ng-model="multiple" ng-options="o as o.word for o in options" multiple
							 code-example-hook>
			</extended-select>
		</div>
	</div>
	<h4 class="page-header">Options</h4>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label>Custom placeholder</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in shortOptions"
							 placeholder="Custom placeholder text"
							 code-example-hook></extended-select>
		</div>
		<div class="col-sm-6 form-group">
			<label>Begin option filtering after typing 2 chars</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in shortOptions" type-to-search="2"
							 code-example-hook></extended-select>
		</div>
		<div class="col-sm-6 form-group">
			<label>Resolve options on search</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in resolvedOptions"
							 resolve-on-search="resolveOnSearch"
							 code-example-hook></extended-select>
			<p class="help-block">
				"resolveOnSearch" in this example, must be a function that accepts search string as
				its parameter and returns a promise (see <a href="example.js">example.js</a>).
				<span class="text-danger">Currently this option is only available on single select!</span>
			</p>
		</div>
		<div class="col-sm-6 form-group">
			<label>Allow user to add an option</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in emptyOptions"
							 add-option="addOptionCallback"
							 code-example-hook></extended-select>
			<p class="help-block">
				"addOptionCallback" in this example, must be a function that accepts search string as
				its parameter and adds a new option to options array (see <a href="example.js">example.js</a>).
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label>Allow user to deselect an selected option</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in shortOptions" deselectable
							 code-example-hook></extended-select>
		</div>
		<div class="col-sm-6 form-group">
			<label>Disabled state</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in shortOptions" ng-disabled="true"
							 code-example-hook></extended-select>
		</div>
		<div class="col-sm-6 form-group">
			<label>Combined with bootstrap "input-sm" class</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in shortOptions" class="input-sm"
							 code-example-hook></extended-select>
		</div>
		<div class="col-sm-6 form-group">
			<label>Combined with bootstrap "input-lg" class</label>
			<extended-select ng-model="word" ng-options="o as o.word for o in shortOptions" class="input-lg"
							 code-example-hook></extended-select>
		</div>
		<div class="col-sm-6 form-group">
			<label>Options via &lt;option&gt; tags</label>
			<extended-select ng-model="country" code-example-hook>
				<option value="1">China</option>
				<option value="2">France</option>
				<option value="3">Poland</option>
			</extended-select>
		</div>
	</div>
</div>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../node_modules/angularjs-bootstrap/dist/js/angularjs-bootstrap.min.js"></script>
<script type="text/javascript" src="../dist/js/angular-extended-select.js"></script>
<script type="text/javascript" src="example.js"></script>
</body>
</html>