/*!
 * Angular extended select element plugin for AngularJS.
 * Copyright (c) 2016-2018 Rodziu <mateusz.rohde@gmail.com>
 * License: MIT
 */
extended-select {
  &.input-lg, &.input-sm {
    padding: 0;
  }
}
.angular-extended-select {
  cursor: default !important;
  height: auto;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  &.open {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
  > .caret {
    position: absolute;
    right: 10px;
    top: 15px;
  }
  &.input-sm > .caret {
    top: 12px;
  }
  &.input-lg > .caret {
    top: 18px;
  }
  > .deselect {
    position: absolute;
    top: 2px;
    right: 25px;
    font-weight: bold; font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  &.input-sm > .deselect {
    top: -1px;
  }
  .ext-select-loading {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .input-group > .ext-select-loading {
    top: 11px;
    right: 65px;
    z-index: 10;
  }
  > .extended-select-multiple {
    list-style: none; padding: 0; margin: 0; width: calc(100% - 15px);
    .label { cursor: pointer; }
    > li {
      float: left;
      margin: 0 3px 2px 0;
      &.ext-select-choice {
        border: 1px solid #ccc;
        -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
        padding: 0 5px;
        > button {
          position: relative;
          right: -2px;
          top: 1px;
          font-size: 18px;
        }
      }
      > input {
        border: 0 none; padding: 0; cursor: default; background: transparent;
      }
    }
  }
  > .dropdown-menu {
    width: calc(100% + 2px);
    margin: 0 0 0 -1px;
    > div {
      padding: 3px 4px;
      > input {
        width: 100%;
      }
    }
    > .dropdown-menu {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      display: block;
      border: 0 none;
      padding: 0;
      float: none;
      position: relative;
      max-height: 30vh;
      overflow-y: auto;
      overflow-x: hidden;
      > li {
        &.selected > a {
          background: transparent !important;
          color: #ccc;
        }
        > a {
          padding: 3px 10px;
          cursor: default;
          white-space: normal;
        }
      }
    }
  }
}
.form-inline .angular-extended-select {
  min-width: 200px;
}
.input-group-sm > .angular-extended-select  {
  > .caret {
    top: 12px;
  }
  > .deselect {
    top: -1px;
  }
}